$font-family-base: "OpenSans", Arial, Calibri, sans-serif;
$font-family-light: "OpenSans Light", "Arial Narrow", Calibri, sans-serif;
$font-size-base: 14px;
$font-size-tablet: 18px;
$line-height: 1.8;

$pink-color: #d22856;
$light-color: #fff;
$body-bg: $light-color;
$body-bg-dark: #1d2631;
$brand-color: #283645;
$main-brand-color: $pink-color;
$dark-color: #000;
$gray-color: #e9ebec;
$dark-gray-color: #b5b9be;
$light-gray-color: #f2f2f2;
$dark-gray-color: #b5b9be;
$green-color: #2aab6d;
$dark-green-color: #1c9b5e;
$red-color: #f25b26;

$indent-help: 20px;
$radius-pop-up: 5px;

$bp-xsmall: 320px; // Tiny-screen and old devices;
$bp-small: 660px; // Mobiles and portrait-view tablets
$bp-small-middle-width: 700px; // Normal mobile devices and small tablets;
$bp-medium: 960px; // Desktop starts here
$bp-large: 1040px; // Desktop seamless transition
$bp-xlarge: 1200px;  // Normal size desktop view
