.additional__inner {
  @include container;
}

.additional__text {
  margin: 0;
  padding: 45px 0 50px;
  text-align: center;
  line-height: $line-height + 0.4;

  @include respond(tablet) {
    padding-right: 55px;
    padding-left: 55px;
    padding-top: 90px;
    padding-bottom: 76px;
    font-size: 18px;
    line-height: $line-height;
  }

  @include respond(tablet-only) {
    br {
      display: none;
    }
  }

  @include respond(desktop) {
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 90px;
    padding-bottom: 75px;
    line-height: $line-height;
  }

  &--br {
    @include respond(tablet-only) {
      br {
        display: inline;
      }
    }
  }

  &--concurs {
    padding-bottom: 25px;

    @include respond(mobile) {
      padding-bottom: 10px;
    }

    @include respond(desktop) {
      padding-bottom: 75px;
    }
  }

  &--second {
    padding-top: 22px;
    padding-bottom: 40px;

    @include respond(tablet-only) {
      padding-top: 45px;
      padding-bottom: 50px;
    }

    @include respond(desktop) {
      padding-top: 0;
      padding-bottom: 50px;
    }
  }

  &--photo {
    @include respond(tablet-only) {
      padding-bottom: 75px;
    }

    @include respond(desktop) {
      padding-bottom: 84px;
    }
  }
}
