.applications {
  position: relative;
  z-index: 2;
  background-color: $body-bg-dark;

  @include respond(mobile) {
    margin-left: -$indent-help;
    margin-right: -$indent-help;
  }

  @include respond(tablet) {
    float: left;
    width: 48.5%;
    min-height: 620px;
    background-color: transparent;
  }

  @include respond(desktop) {
    width: 32%;
    min-height: 740px;
  }
}

.applications__title {
  display: none;
  margin-top: 93px;
  margin-bottom: 5px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: $font-family-light;
  font-weight: normal;
  font-size: 40px;
  line-height: 1.2;

  @include respond(tablet) {
    display: block;
  }

  @include respond(desktop) {
    margin-top: 110px;
    margin-bottom: 25px;
    font-size: 50px;
  }
}

.applications__list {
  @include ul-clear;
  text-align: center;

  @include respond(tablet) {
    margin-bottom: 32px;
  }

  @include respond(desktop) {
    margin-bottom: 50px;
  }
}

.applications__item {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  margin: 0 8px;
}

.applications__link {
  display: block;
  height: 100%;
  font-size: 0;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;

  &--mac {
    background-image: url('../img/logo-apple.svg');
  }

  &--android {
    background-image: url('../img/logo-android.svg');
    background-position: center 11px;
  }

  &--windows {
    background-image: url('../img/logo-microsoft.svg');
    background-position: center 14px;
  }
}

.applications__text {
  margin-top: 20px;
  margin-bottom: 0;
  padding-right: $indent-help;
  padding-left: $indent-help;
  padding-bottom: 30px;
  font-family: $font-family-light;
  line-height: $line-height;

  @include respond(tablet) {
    margin-bottom: 48px;
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.01em;
  }

  @include respond(desktop) {
    margin-bottom: 60px;
  }
}
