.btn {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  min-width: 280px;
  margin-bottom: 10px;
  padding: 10px 40px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  color: $light-color;
  border: 3px solid $gray-color;
  border-radius: 40px;
  outline: none;

  &--submit {
    margin-bottom: 40px;
    padding: 19px 15px;
    text-transform: uppercase;
    color: $light-color;
    background-color: $green-color;
    border-color: $green-color;
    border-radius: 4px;

    &:hover {
      background-color: $dark-green-color;
      border-color: $dark-green-color;
    }

    &:active {
      background-color: $dark-green-color;
      border-color: $dark-green-color;
      color: rgba($light-color, 0.3);
    }

    &:disabled {
      background-color: #e5e5e5;
      border-color: #e5e5e5;
    }
  }

  &--post {
    margin-bottom: 10px;
    padding-top: 11px;
    padding-bottom: 13px;
    color: $main-brand-color;
    border-color: $main-brand-color;

    @include respond(tablet) {
      min-width: 260px;
      margin-bottom: 25px;
      margin-left: 15px;
      margin-right: 5px;
    }

    @include respond(desktop) {
      min-width: 183px;
      margin-right: 15px;
      margin-left: 0;
      padding-top: 12px;
      padding-bottom: 12px;
      margin-bottom: 0;
    }

    &:hover {
      color: $light-color;
      background-color: $main-brand-color;
    }

    &:active {
      color: rgba($light-color, 0.3);
      background-color: $main-brand-color;
    }
  }

  &--reset {
    margin-bottom: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    color: $brand-color;
    border-color: $brand-color;
    opacity: 0.1;

    &:hover {
      opacity: 0.3;
    }

    &:active {
      color: rgba($light-color, 0.3);
      background-color: $brand-color;
      opacity: 0.3;
    }

    @include respond(tablet) {
      min-width: 260px;
      margin-bottom: 0;
      margin-left: 15px;
      margin-right: 5px;
    }

    @include respond(desktop) {
      min-width: 183px;
      margin-right: 0;
    }
  }

  &--applications-load {
    margin-top: 27px;
    margin-bottom: 28px;
    padding: 12px 20px;

    @include respond(tablet) {
      min-width: 300px;
      margin-bottom: 45px;
    }

    @include respond(desktop) {
      font-size: 21px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 65px;
    }

    &:hover {
      color: $main-brand-color;
      background-color: $light-color;
    }

    &:active {
      color: rgba($main-brand-color, 0.3);
      background-color: $light-color;
    }
  }

  &.btn--in-progress {
    animation-name: color_change;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}
