.contacts {
  position: relative;
  text-align: center;
  border-bottom: 1px solid transparent;
}

.contacts__inner {
  @include container;
}

.contacts__title {
  margin-top: 20px;
  margin-bottom: 27px;
  padding-top: 18px;
  padding-right: $indent-help;
  padding-left: $indent-help;
  font-family: $font-family-light;
  text-align: center;
  font-size: 24px;

  @include respond(tablet) {
    margin-bottom: 40px;
    padding-top: 24px;
    font-size: 40px;
    line-height: 1.25;
  }

  @include respond(desktop) {
    font-size: 50px;
    padding-top: 38px;
    margin-bottom: 53px;
  }
}

.contacts__list {
  @include ul-clear;
  margin-bottom: 30px;

  @include respond(tablet) {
    margin-bottom: 25px;
  }

  @include respond(desktop) {
    margin-bottom: 0;
  }
}

.contacts__item {
  margin-bottom: 20px;

  @include respond(tablet) {
    float: left;
    width: 50%;
    margin-bottom: 45px;

    &:nth-child(3n) {
      float: none;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
    }
  }

  @include respond(desktop) {
    width: 33.33%;

    &:nth-child(2n) {
      float: right;
    }

    &:nth-child(3n) {
      width: 33.33%;
    }
  }
}

.contacts__name {
  font-size: 18px;
  font-weight: bold;

  @include respond(tablet) {
    margin-bottom: 10px;
  }

  @include respond(desktop) {
    margin-bottom: 26px;
  }
}

.contacts__link {
  display: block;
  font-family: $font-family-light;
  font-size: 24px;
  text-decoration: none;
  color: $main-brand-color;

  &:hover {
    color: $brand-color;
    text-decoration: underline;
  }

  &:active {
    color: rgba($brand-color, 0.3);
    text-decoration: none;
  }

  @include respond(tablet) {
    line-height: 1.1;
  }

  @include respond(desktop) {
    display: block;
    padding-right: 10px;
    padding-left: 10px;
  }
}
