.form__inner {
  @include container;

  @include respond(mobile) {
    padding-left: 0;
    padding-right: 0;
  }

  &--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__container {
  &--left {
    @include respond(tablet) {
      float: left;
      width: 50%;
    }
  }

  &--right {
    @include respond(tablet) {
      float: right;
      width: 50%;
    }
  }
}

.form__section {
  margin-bottom: 60px;
  @include clearfix;
  flex-basis: 100%;

  @include respond(mobile) {
    padding-left: $indent-help;
    padding-right: $indent-help;
    padding-top: $indent-help;
    border: none;
  }

  @include respond(tablet) {
    padding-left: 58px;
    padding-right: 58px;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  &--gray {
    background-color: $light-gray-color;

    @include respond(tablet) {
      background-color: $light-color;
    }
  }

  &--fieldset {
    position: relative;

    @include respond(tablet) {
      border: 2px solid $gray-color;
    }
  }

  &--name {
    margin-bottom: 30px;

    .form__item {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 14px;
      align-items: center;

      @include respond(tablet) {
        flex-wrap: nowrap;
        margin-bottom: 52px;
      }
    }

    @include respond(tablet) {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0;
      margin-bottom: 18px;
      order: 0;

      .form__label {
        margin-left: 0;
        margin-right: 20px;
        padding-left: 0;
      }
    }

    @include respond(desktop) {
      flex-basis: 436px;
      box-sizing: border-box;
      padding-top: 5px;

      .form__item {
        &:last-child {
          margin-bottom: 20px;
        }
      }
    }
  }

  &--application {
    margin-bottom: 35px;

    @include respond(mobile) {
      padding-top: 30px;
      padding-bottom: 10px;

      .form__legend {
        margin-bottom: 20px;
      }
    }

    @include respond(tablet) {
      order: 1;
      margin-bottom: 65px;

      .form__legend {
        min-width: 330px;
      }

      .form__item:last-child {
        .form__label--control-text {
          margin-bottom: 10px;
        }
      }
    }

    @include respond(desktop) {
      flex-basis: 276px;
      padding-left: 78px;
      padding-right: 78px;
      padding-top: 55px;
      margin-bottom: 60px;

      .form__legend {
        left: 30px;
        transform: none;
      }
    }
  }

  &--contacts {
    padding-top: 30px;
    margin-bottom: 35px;

    .form__item {
      margin-bottom: 20px;
    }

    @include respond(mobile) {
      padding-top: 20px;

      .form__legend {
        display: none;
      }
    }

    @include respond(tablet) {
      order: 2;
      padding-top: 45px;
      padding-bottom: 0;
      margin-bottom: 65px;

      .form__item {
        display: flex;
        flex-wrap: wrap-reverse;
      }

      .form__label {
        margin-top: 18px;
      }
    }

    @include respond(desktop) {
      flex-wrap: nowrap;

      .form__label {
        margin-top: 12px;
        margin-bottom: 0;
      }
    }
  }

  &--achievements {
    padding-bottom: 10px;
    margin-bottom: 0;

    @include respond(tablet) {
      order: 3;
      margin-bottom: 65px;

      .form__legend {
        min-width: 380px;
      }
    }

    @include respond(desktop) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 25px;
      margin-bottom: 65px;
    }
  }

  &--description {
    margin-bottom: 40px;

    .form__legend {
      margin-bottom: 10px;
    }

    textarea {
      min-height: 200px;
    }

    @include respond(mobile) {
      padding-top: 10px;
    }

    @include respond(tablet) {
      order: 4;
      margin-bottom: 60px;
    }

    @include respond(desktop) {
      textarea {
        min-height: 125px;
      }
    }
  }

  &--full {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__flex-contacts {
  @include respond(desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .form__item {
      width: 377px;
    }
  }
}

.form__item {
  display: block;

  @include respond(desktop) {
    &:last-child {
      .form__label--checkbox {
        margin-bottom: 25px;
      }
    }
  }
}

.form__item-group {

  @include respond(desktop) {
    padding-right: 43px;

    &:last-child {
      padding-right: 0;
    }
  }

  @include respond(tablet) {
    &:last-child {
      .form__item:last-child {
        .form__label--checkbox {
          margin-bottom: 0;
        }
      }
    }
  }
}

.form__title {
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 30px;
  font-size: $font-size-base;
  font-weight: normal;
  text-align: center;
  line-height: $line-height + 0.3;
}

.form__label {
  display: block;
  margin: 10px;
  margin-bottom: 12px;
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 14px;
  color: $main-brand-color;
  cursor: pointer;

  &--center {
    text-align: center;
  }

  &--control-text {
    text-transform: none;
    font-size: 18px;
    color: $brand-color;
  }

  &--checkbox {
    position: relative;
    margin: 0 0 38px;
    padding-left: 58px;
    padding-top: 10px;
    padding-bottom: 10px;

    @include respond(mobile) {
      padding-left: 68px;
    }

    input[type="checkbox"] {
      position: absolute;
      left: 0;
      top: 0;
      display: none;

      & + span {
        &:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 3px;
          width: 35px;
          height: 35px;
          border: 2px solid $gray-color;
          background-color: $light-color;
        }
      }

      &:checked + span {
        &:before {
          background: $light-color url('../img/icon-yes.svg') center center no-repeat;
        }
      }
    }

    &:hover {
      input[type="checkbox"] {
        & + span {
          &:before {
            border-color: $brand-color;
          }
        }
      }
    }

    &:active {
      input[type="checkbox"] {
        & + span {
          &:before {
            border-color: $main-brand-color;
          }
        }
      }
    }

  }

  &--radio {
    position: relative;
    margin: 0 0 30px;
    padding-left: 68px;
    padding-top: 10px;
    padding-bottom: 10px;

    @include respond(tablet) {
      padding-left: 58px;
    }

    input[type="radio"] {
      display: none;
      position: absolute;
      left: 0;
      top: 0;

      & + span {
        &:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 3px;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          border: 2px solid $gray-color;
          background-color: $light-color;
        }
      }

      &:checked + span {
        &::before {
          background: $light-color url('../img/icon-map-marker.svg') center center no-repeat;
        }
      }
    }

    &:hover {
      input[type="radio"] {
        & + span {
          &:before {
            border-color: $brand-color;
          }
        }
      }
    }

    &:active {
      input[type="radio"] {
        & + span {
          &:before {
            border-color: $main-brand-color;
          }
        }
      }
    }
  }
}

.form__input {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 17px 20px;
  margin-bottom: 23px;
  border: 2px solid $gray-color;
  outline: none;

  &:last-child {
    margin-bottom: 0;
  }

  &--phone {
    @include respond(tablet) {
      padding-right: 80px;
      background-image: url("../img/icon-phone.svg"), linear-gradient(270deg, $gray-color 60px, $light-color 60px);
      background-repeat: no-repeat, no-repeat;
      background-position: right 19px top 20px, 0 0;
    }
  }

  &--email {
    @include respond(tablet) {
      padding-right: 80px;
      background-image: url("../img/icon-mail.svg"), linear-gradient(270deg, $gray-color 60px, $light-color 60px);
      background-repeat: no-repeat, no-repeat;
      background-position: right 20px top 22px, 0 0;
    }
  }
}

.form__legend {
  margin-bottom: 25px;
  padding: 10px $indent-help;
  font-size: $font-size-base;
  font-weight: normal;
  text-transform: uppercase;
  color: $main-brand-color;
  text-align: center;

  @include respond(tablet) {
    position: absolute;
    top: -22px;
    left: 50%;
    margin-bottom: 30px;
    transform: translateX(-50%);
    background-color: $light-color;
  }
}

.form__submit {
  text-align: center;
  padding-top: 5px;

  &--contest {
    padding-right: $indent-help;
    padding-left: $indent-help;
    margin: auto;

    @include respond(mobile) {
      margin-bottom: 20px;
    }

    @include respond(tablet) {
      order: 7;
      flex-basis: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      padding-left: 0;
      padding-right: 0;

      .btn--submit {
        margin-bottom: 0;
        padding: 17px 55px;
      }
    }

    @include respond(desktop) {
      margin-bottom: 0;
    }
  }

  &--photo {
    @include respond(tablet) {
      padding-top: 0;
    }

    @include respond(desktop) {
      margin-right: 60px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.form__info {
  text-transform: uppercase;

  @include respond(tablet) {
    font-size: 14px;
  }
}

.form__required {
  color: $main-brand-color;
}

.form__info-add {
  color: $brand-color;

  &--hidden {
    display: none;

    @include respond(desktop) {
      display: inline;
    }
  }
}

.form {
  input,
  textarea {
    @include  placeholder-color($brand-color);
    font-size: 18px;

    &:hover {
      border-color: $brand-color;
    }

    &:focus {
      border-color: $main-brand-color;
    }
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    outline: none;
  }
}
