.investigation {
  @include respond(mobile) {
    display: none;
  }

  @include respond(desktop) {
    background-color: $light-gray-color;
  }
}

.investigation__inner {
  @include container;

  &.investigation__inner--timer {
    @include respond(tablet-only) {
      padding-top: 60px;
      padding-bottom: 50px;
    }

    @include respond(desktop) {
      padding-top: 10px;
      padding-bottom: 70px;
    }
  }
}

.investigation__timer {
  float: left;
  position: relative;
  width: 240px;
  height: 275px;
  margin-right: 70px;
  background: transparent url("../img/icon-timer.svg") 0 center no-repeat;
  -webkit-background-size: auto 276px;
  background-size: auto 276px;

  @include respond(desktop) {
    width: 300px;
    height: 345px;
    margin-right: 67px;
    -webkit-background-size: auto 345px;
    background-size: auto 345px;
  }
}

.investigation__time {
  position: absolute;
  width: 175px;
  height: 175px;
  @include zero-centered;
  top: 34px;
  text-align: center;
  font-size: 96px;
  font-weight: bold;
  line-height: 167px;
  color: $main-brand-color;
  border-radius: 50%;
  border: 15px solid $main-brand-color;
  background-color: $light-color;

  @include respond(desktop) {
    width: 220px;
    height: 220px;
    top: 52px;
    font-size: 120px;
    line-height: 206px;
    border: 17px solid $main-brand-color;
    background-color: $light-gray-color;
  }
}

.investigation__title {
  margin-top: 35px;
  margin-bottom: 10px;
  font-family: $font-family-base;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.25;

  @include respond(desktop) {
    margin-top: 92px;
    margin-bottom: 20px;

    br {
      display: none;
    }
  }
}

.investigation__content {
  margin-left: 310px;

  @include respond(desktop) {
    margin-left: 365px;
  }
}

.investigation__text {
  margin-top: 0;
  margin-bottom: 14px;
  line-height: 1.7;

  @include respond(desktop) {
    padding-right: 45px;
    margin-bottom: 35px;
  }
}

.investigation__link {
  color: $main-brand-color;

  &:hover {
    color: $brand-color;
  }

  &:active {
    color: rgba($brand-color, 0.3);
  }
}
