.logo-svg {

  &:active {
    opacity: 0.3;
  }

  &:hover {
    &:not(:active) {
      path {
        fill: $main-brand-color;
      }
    }
  }

  &--small {
    @include respond(mobile) {
      position: relative;
      margin-left: -71px;
      margin-top: -18px;

      .small-hidden {
        display: none;
      }
    }
  }

  &--tablet {
    @include respond(desktop) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include respond(desktop) {
      display: inline;
    }
  }
}
