.main-nav {
  @include clearfix;
  background-color: transparent;

  @include respond(desktop) {
    float: right;
  }

  &--opened {
    background-color: $brand-color;

    @include respond(desktop) {
      background-color: transparent;
    }
  }
}

.main-nav__toggler {
  float: right;
  margin: $indent-help;
  padding: 0;
  width: 50px;
  height: 25px;
  background-color: transparent;
  border: none;
  outline: none;

  @include respond(tablet-only) {
    margin: 42px 2*$indent-help;
  }

  @include respond(desktop) {
    display: none;
  }

  svg:last-child {
    display: none;
  }

  &--close {
    svg:first-child {
      display: none;
    }

    svg:last-child {
      display: inline;
    }
  }

  svg {
    float: right;

    path {
      fill: $light-color;
    }
  }

  &:hover {
    svg {
      path {
        fill: $main-brand-color;
      }
    }
  }

  &:active {
    svg {
      opacity: 0.3;

      path {
        fill: $main-brand-color;
      }
    }
  }
}

.main-nav__list {
  @include ul-clear;
  height: 0;
  clear: both;
  font-size: 0;
  font-weight: bold;
  text-align: center;
  overflow: hidden;

  &.main-nav__list--opened {
    height: auto;
  }

  @include respond(desktop) {
    height: auto;
    float: right;
    clear: none;
  }
}

.main-nav__item {
  font-size: 18px;
  cursor: pointer;

  &:first-child {
    border-top: 1px solid #000;

    @include respond(desktop) {
      border-top: none;
    }
  }

  a {
    display: block;
    padding: 19px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: $light-color;
    background-color: $brand-color;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000;

    &:hover {
      color: $main-brand-color;
    }

    &:active {
      color: rgba($main-brand-color, 0.3);
    }

    @include respond(desktop) {
      padding: 42px 20px;
      text-transform: none;
      font-weight: normal;
      background-color: transparent;

      &:active {
        color: rgba($light-color, 0.3);
      }
    }
  }

  @include respond(desktop) {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;

      a {
        padding-right: 0;

        &:after {
          right: 0;
        }
      }
    }

    a {
      border-top-color: transparent;
      border-bottom-color: transparent;
    }
  }

  &--active {
    @include respond(desktop) {
      position: relative;

      a {
        &:after {
          content: "";
          position: absolute;
          left: 20px;
          right: 20px;
          bottom: 30px;
          height: 2px;
          background-color: $light-color;
        }

        &:hover {
          &:after {
            background-color: $main-brand-color;
          }
        }

        &:active {
          &:after {
            background-color: rgba($light-color, 0.3);
          }
        }
      }
    }
  }
}

.no-js {
  .main-nav {
    background-color: $brand-color;

    @include respond(desktop) {
      background-color: transparent;
    }

    .main-nav__toggler {
      display: none;
    }

    .main-nav__list {
      height: auto;
    }
  }

  .main-nav__toggler {
    display: none;
  }

  .main-nav__list {
    height: auto;
  }
}
