.page-footer {
  padding-top: 35px;
  text-align: center;

  @include respond(desktop) {
    padding-top: 70px;
  }
}

.page-footer--mobile-none {
  @include respond(mobile) {
    display: none;
  }
}

.page-footer__inner {
  @include container;
}

.page-footer__logo {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 147px;
  height: 40px;
  font-size: 0;

  a {
    display: block;
    width: 147px;
    height: 40px;
    font-size: 0;
  }

  @include respond(tablet) {
    float: left;
    width: 25%;
    margin-bottom: 19px;
  }
}

.page-footer__social {
  margin-bottom: 20px;

  @include respond(tablet) {
    float: left;
    width: 50%;
    margin-top: 5px;
  }
}

.page-footer__copyright {
  padding-top: 20px;

  @include respond(tablet) {
    float: right;
    width: 25%;
    padding-top: 10px;
    margin-top: 5px;
    text-align: right;
  }
}

.page-footer__copyright-link {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 34px;
  margin-left: 11px;

  svg {
    fill: $main-brand-color;

    &:hover {
      fill: $brand-color;
    }

    &:active {
      fill: rgba($brand-color, 0.3);
    }
  }
}
