.pop-up {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($brand-color, 0.7);
  z-index: 2;

  &.show {
    display: block;
  }
}

.pop-up__inner {
  padding: $indent-help;

  @include respond(tablet) {
    padding: 30px 70px 10px;
  }
}

.pop-up__content {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 7px 25px rgba(0,0,0,0.25);
  background-color: $light-color;
  border-radius: $radius-pop-up;

  &--success {
    width: 320px;

    @include respond(tablet) {
      width: 460px;
    }

    @include respond(desktop) {
      width: 780px;

      .btn--submit {
        min-width: 460px;
      }
    }

    .pop-up__inner {
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 0;

      @include respond(desktop) {
        padding-right: 180px;
        padding-left: 180px;
      }
    }
  }

  &--failure {
    width: 320px;

    @include respond(mobile) {
      .btn--submit {
        margin-bottom: 30px;
      }
    }

    @include respond(tablet) {
      width: 460px;

      .btn--submit {
        min-width: 300px;
      }
    }

    .pop-up__text {
      @include respond(tablet) {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }
}

.pop-up__title {
  margin-top: 20px;
  margin-bottom: 28px;
  font-size: 18px;

  @include respond(tablet) {
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 5px;
    margin-bottom: 23px;
    font-size: 30px;
  }

  @include respond(desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

.pop-up__text {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 14px;

  @include respond(mobile) {
    line-height: $line-height - 0.2;
  }

  @include respond(tablet) {
    font-size: 18px;
    padding-right: 40px;
    padding-left: 40px;
  }

  @include respond(desktop) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.pop-up__button-block {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom-left-radius: $radius-pop-up;
  border-bottom-right-radius: $radius-pop-up;

  &--gray {
    background-color: $light-gray-color;
  }

  .btn--submit {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
