.price {
  position: relative;
  padding-top: 90px;
  padding-bottom: 30px;
  background-color: $light-gray-color;

  @include respond(tablet-only) {
    padding-top: 90px;
  }

  @include respond(desktop) {
    padding-top: 150px;
  }

  .slider__toggles {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.price__decorator {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 30px;

  @include respond(tablet-only) {
    height: 55px;
  }

  @include respond(desktop) {
    height: 80px;
  }
}

.price__inner {
  @include container;

  @include respond(mobile) {
    padding-left: 0;
    padding-right: 0;
  }
}

.price__content {
  height: 360px;

  @include respond(tablet-only) {
    height: 260px;
  }

  @include respond(desktop) {
    height: 350px;
  }

  .slider__toggles {
    display: none;

    @include respond(mobile) {
      display: block;
    }
  }

  &.slider--no-js {
    overflow: auto;

    .price__table {
      left: 0;
    }
  }
}

.price__helper {
  position: absolute;
  width: 840px;
  left: 50%;
  transform: translateX(-50%);

  @include respond(tablet) {
    width: 100%;
    left: 0;
    transform: none;
  }
}

.price__table {
  width: 100%;

  @include respond(mobile) {

    position: relative;
    margin-left: -33.333%;
    margin: 0 auto;

    th:first-child,
    td:first-child {
      display: none;
    }
  }

  td {
    background-color: $light-color;
    border: 2px solid #e5e5e5;
    height: 100%;
  }
}

.price__name {
  padding: 14px 36px;
  @include border-table;
  background-color: $brand-color;
  color: $light-color;

  @include respond(mobile) {
    padding: 20px 37px;
  }

  @include respond(desktop) {
    padding: 20px 42px;
  }

  &--hit {
    padding: 0;

    @include respond(mobile) {
      padding: 0;
    }

    @include respond(desktop) {
      padding: 0;
    }
  }
}

.price__hit {
  position: relative;
  padding: 14px 36px;

  @include respond(mobile) {
    padding: 20px 37px;
  }

  @include respond(desktop) {
    padding: 20px 42px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    display: block;
    width: 74px;
    height: 73px;
    background: transparent url("../img/bg-hit.svg") 0 0 no-repeat;

    @include respond(tablet-only) {
      width: 61px;
      height: 61px;
      background-image: url("../img/bg-hit-tablet.svg");
    }
  }

  &::after {
    content: "Хит";
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 6;
    font-family: $font-family-base;
    font-size: 14px;
    text-transform: uppercase;
    color: $light-color;
    transform: rotate(-45deg);

    @include respond(desktop) {
      left: 10px;
      top: 17px;
    }
  }
}

.price__name-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  @include respond(tablet-only) {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.price__count {
  font-family: $font-family-light;
  font-size: 24px;
  font-weight: normal;

  @include respond(tablet-only) {
    font-size: 18px;
  }
}

.price__currency {
  font-size: 24px;
  text-transform: uppercase;

  @include respond(tablet-only) {
    font-size: 18px;
  }
}

.price__option {
  padding: 17px 20px 14px;
  border: 2px solid #e5e5e5;
  text-transform: uppercase;

  @include respond(tablet) {
    padding: 8px 20px;
    text-align: center;
  }

  @include respond(desktop) {
    padding: 14px 20px;
  }

  &--mobile-hidden {
    @include respond(tablet) {
      padding-left: 15px;
      padding-right: 25px;
      text-align: left;
      text-transform: none;
    }
  }
}

.price__option-name {
  @include respond(tablet) {
    display: none;
  }
}

.price__marker {
  float: right;

  @include respond(tablet) {
    float: none;
  }

  &--yes {
    fill: $green-color;
  }

  &--no {
    fill: $red-color;
  }
}
